{% extends 'base.html' %}
{% block content %}
<div class="content" style="padding:0px; padding-left:55px;">
    <div class="sidebar-content">
        <h1>Contact Details</h1>

        <ul>
            <li id="list"><a href="https://www.facebook.com/iammadph" id="list">Facebook Page: iammadph</a></li>
            <li id="list"><a href="https://www.instagram.com/iammadph/" id="list">Instagram Page: iammadph</a></li>
            <li id="list"><a href="#" id="list">Email: iammadph.comms@gmail.com</a></li>
        </ul>
    </div>
    <div class="sidebar-logo">
    </div>
</div>
{% endblock %}